 :root {
  --color-green-300: rgb(222, 240, 212);
  --color-green-400: rgb(178, 219, 155);
  --color-green-500: rgb(69, 187, 0);

  --color-purple-300: rgb(240, 212, 235);
  --color-purple-400: rgb(219, 155, 211);
  --color-purple-500: rgb(247, 70, 202);
  --color-purple-600: rgb(250, 16, 191);

  --color-cyan-300: rgb(127, 240, 197);
  --color-cyan-500: rgb(22, 177, 117);
  
  --color-grey-300: #fff3ff;
  --color-grey-400:  rgb(221, 221, 221);
  --color-grey-500:  rgb(187, 187, 187);
  --color-grey-600:  rgb(102, 102, 102);

  --font-size-md: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.5rem;

  --radius-sm: 8px;
  --radius-md: 12px;
  --radius-lg: 18px;

  --border-width-md: 1px;
  --border-width-lg: 2px;

  --padding-xs: 4px;
  --padding-sm: 8px;
  --padding-md: 12px;
  --padding-lg: 16px;
  --padding-xl: 20px;
  --padding-section: 40px;

  --margin-section: 48px;
  --margin-label: 12px;
  --margin-labelx2: 24px;

  --icon-sm: 8px;
  --icon-md: 12px;
  --icon-lg: 16px;
  --icon-lx: 20px;

  --header-height: 60px;


  /* GAP */

  --gap-sx: 4px;
  --gap-sm: 10px;
  --gap-md: 16px;
  --gap-lg: 24px;
  --gap-lx: 32px;

  /* FONT-SIZE */

  --font-size-sm: 0.85rem;
  --font-size-md: 0.9rem;
  --font-size-lg: 1rem;

  /* SPACING */

  --label-spacing: 0.5px;

  /* WEIGHT */

  --font-weight-sm: 250;
  --font-weight-lg: 600;

  /* */

  --color-primary: var(--color-purple-500);
  --color-secondary: var(--color-purple-400);
  --color-thirdiary: var(--color-purple-300);

  --border-color:  var(--color-grey-500);
}